# From the gitignore_global.txt (added for redundancy, not strictly necessary)
.Rprofile
.Renviron
.Rproj.user
.Rhistory
.Rdata
.Ruserdata
.httr-oauth
.DS_Store
inst/extdata/
rsconnect/

# Add any additional project-specific ignores here.

